.background-color-darkgray {
  background-color: #6b615d;
}

.background-color-gray {
 background-color: #b3b0a3;
}

.background-color-orange {
  background-color: #e36025;
}

.background-color-lightgray {
  background-color: #d8d5c8;
}

.background-color-red {
  background-color: #db160f;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flex-item {
  background-color: #cfcfc8;
  margin: 10px;
  border-radius: 20px;
}

.is-flex {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.label {
  background-color: white;
  height: 70px;
  margin: 15px;
}

.display-input {
  font-size: 18px;
  margin: 10px;
  padding-top: 10px;
}

.display-number {
  font-weight: bold;
  font-size: 21px;
  margin: 10px;
}

.display-output {
  margin: 10px;
  font-size: 23px;
  text-align: right;
}

.row-calculator {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin: 10px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:1px 2px 1px black;
  text-shadow:  1px  0 0 black;
  border-radius: 20px;
  user-select: none;
  font-size: 35px;
}

a:hover {
  cursor: pointer;
  background-color: gainsboro;
  opacity: 90%;
}

.all-clear-calculator{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 80px;
  height: 24px;
  font-size: 22px;
  flex-wrap: nowrap;
  text-align: center;
}

.button-calculator-set-operations {
  width:150px;
  height: 80px;
  border-color: black;
  margin-left: 6px;
  margin-right: 6px;
}

div.button-calculator-set-operations {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

div.button-calculator-set-operations>p {
  user-select: none;
  align-self: center;
  font-family:Georgia;
  font-size: 22px;
}

@media screen and  (max-width: 426px) {
  .button-calculator-set-operations {
    width: 80px;
    height:60px;
  }
}

@media screen and  (max-width: 376px) {
  .button-calculator-set-operations {
    width: 70px;
    height:50px;
  }
}

@media screen and  (max-width: 320px) {
  .button-calculator-set-operations {
    width: 60px;
    height:50px;
  }
}











