/* background color */
.background-color-darkgray {
  background-color: #6b615d;
}

.background-color-gray {
 background-color: #b3b0a3;
}

.background-color-orange {
  background-color: #e36025;
}

.background-color-lightgray {
  background-color: #d8d5c8;
}

.background-color-yellow {
  background-color: #f9aa1d;
}

/* space size */
.margin-10px {
  margin: 10px;
}

.margin-15px {
  margin: 15px;
}

.margin-6px{
  margin: 6px;
}

/* font size */
.font-size-20px {
  font-size: 20px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-25px {
  font-size: 25px;
}

.font-weight-bold {
  font-weight: bold;
}

.has-center{
  text-align: center;
  justify-content:center;
}

.has-right{
  text-align: right;
}

p {
  user-select: none;
  align-self: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flex-item {
  margin-top: 30px;
  height: 550px;
  width: 600px;
  justify-content: center;

}
@media screen and  (max-width: 425px) {
  .flex-item {
    height: 450px;

  }
}

@media screen and  (max-width: 375px) {
  .flex-item {
    height: 400px;

  }
}

.label {
  background-color: white;
  height: 55px;

}

.button-calculator-set-operations{
  width:150px;
  height: 80px;
  border-color: black;
  margin-left: 6px;
  margin-right: 6px;
  opacity:100%;
  border-radius: 20px;
  text-shadow:  1px  0 0 black;
  box-shadow:3px 3px 1px black;
}

@media screen and  (max-width: 425px) {
  .button-calculator-set-operations {
    width: 80px;
    height:60px;
  }
}

@media screen and  (max-width: 375px) {
  .button-calculator-set-operations {
    width: 70px;
    height:50px;
  }
}

@media screen and  (max-width: 320px) {
  .button-calculator-set-operations {
    width: 60px;
    height:50px;
  }
}

.button-calculator-set-operations:hover {
  cursor: pointer;
}

.is-flex {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.flex-end {
  align-self: flex-end;
  text-align: end;
}










